.project
.factorypath
.classpath
.settings/

target/
.apt_generated/

.externalToolBuilders

.gradle

build

src/main/webapp/WEB-INF/appengine-generated/
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib/appengine-*

eclipse.lib/
libsrc
