.project
.factorypath
.classpath
.settings/
eclipse.lib

target/
.apt_generated/

.externalToolBuilders

.gradle

war/WEB-INF/appengine-generated/
war/WEB-INF/classes
war/WEB-INF/lib/appengine-*

build

lib/
libsrc
www-test/
