.project
.factorypath
.classpath
.settings/

target/
.apt_generated/

.externalToolBuilders

.gradle

war/WEB-INF/appengine-generated/
war/WEB-INF/classes
war/WEB-INF/lib/appengine-*

eclipse.lib/
libsrc
www-test/
